{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<main id="back_image" class="min-vh-100">
    <section class="w-100 h-100 d-flex flex-column align-items-center justify-content-start">
        <div class="d-block bg_card text-center rounded-4 my-5">
            <p class="h2 px-3">{{ title }}</p>
        </div>
        <div class="col-md-9 col-sm-9 bg_card rounded-4 p-3 mb-3">
            <h3 class="h3 text-center">ProBilliard - всё для бильярда</h3>
            <p>Интернет магазин ProBilliard – «Все для бильярда» расположен в Пскове, недалеко от центра, на улице Ленина 8. Салон работает с 10:00 до 18:00 без выходных.</p>
            <p>У нас можно выбрать аксессуары и оборудование российских и зарубежных производителей. В нашем магазине вы сможете приобрести столы для самых популярных игр - русская пирамида, американский пул и снукер.</p>
            <p>Бильярдное оборудование в магазине:</p>
            <ul>
                <li>Столы</li>
                <li>Кии</li>
                <li>Аксессуары</li>
            </ul>
            <p>Услуги:</p>
            <ul>
                <li>Доставка и монтаж продукции по Пскову.</li>
                <li>Ремонт и обслуживание оборудования.</li>
                <li>Изготовление продукции «под заказ», по индивидуальным проектам.</li>
            </ul>
            <p>Опытные продавцы дадут исчерпывающую информацию о товаре, помогут с выбором. При необходимости сотрудник приедет, произведет необходимые замеры и сделает предложение, которое придется по душе.</p>
        </div>
    </section>
</main>

{% endblock %}
