{% extends 'app/layout.html' %}

{% block content %}

<main id="back_image" class="min-vh-100">
    <section class="d-flex flex-column align-items-center justify-content-start">
        <div class="d-block bg_card text-center rounded-4 my-5">
            <p class="h3 px-3">Добавить статью</p>
        </div>
        <div class="bg_card rounded-4 p-3 mb-3">
            <div class="mx-auto">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-default mt-3 btn_submit" value="Сохранить статью" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock %}